.textr-content {
  background: transparent;
  border: none;
  color: #333;
  font-family: Georgia, Sans;
  font-size: 24px;
  min-height: 450px;
  padding: 2rem 0;
  resize: vertical;
  width: 100%;
  &:focus {
    outline: none;
  }
}
