.textr-settings {
  border-top: solid #eaeaea 1px;
  color: #999;
  font-size: 16px;
  padding: .25rem;
  position: relative;
  text-align: right;
}

.locale {
  -webkit-user-select: none;
  color: #333;
  cursor: pointer;
  display: block;
  left: 0;
  position: absolute;
  top: 0;
}


.textr-plugin {
  padding: .2rem;
  &:last-child {
    padding-right: 0;
  }
}
