html {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
  font-size: 16px;
}

a {
  color: #4E9BB9;
  &:visited {
    color: #104F67;
  }
}

.container {
  max-width: 720px;
  margin: 0 auto;
  position: relative;
}

.footer {
  margin-top: 3rem;
  padding: 1rem 0;
  color: gray;
  opacity: .4;
}

.description {
  color: gray;
  margin: 2rem auto 3rem;
}

.typograph {
  background-color: #fafafa;
  border: solid 1px #eaeaea;
}


.headline {
  margin: 2rem 0 0;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.headline__title {
  color: black;
}

.headline__subtitle {
  color: gray;
}

